<h2>Tsunagu Member</h2>


<% @users.each do |user| %>
<table class="table table-hover">
  <tr>
  	<td><%= attachment_image_tag user, :image, :fill, 60, 60 %></td>
  </tr>
  <tr>
  	<td>name</td>
  	<td><%=link_to user.name, user_path(user.id) %></td>
  </tr>
  <tr>
  	<td>profile</td>
  	<td><%= user.profile %></td>
  </tr>
</table>
<% end %>

<%= link_to "戻る", root_path %>